[submodule "core/vendor/spdlog"]
	path = core/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "cli/vendor/replxx"]
	path = cli/vendor/replxx
	url = https://github.com/AmokHuginnsson/replxx
[submodule "core/vendor/PcapPlusPlus"]
	path = core/vendor/PcapPlusPlus
	url = https://github.com/seladb/PcapPlusPlus
[submodule "core/vendor/librdkafka"]
	path = core/vendor/librdkafka
	url = https://github.com/confluentinc/librdkafka.git
